.news-item {
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;

  &__title,
  &__text,
  &__num {
    word-break: break-all;
  }

  &__title {
    font-size: 26px;
    color: #1caae2;
    margin: 0 0 14px 0;
  }

  &__num {
    font-size: 18px;
    color: gray;
  }

  &__text {
    font-size: 20px;
    margin: 20px 0 0 0;
  }
}
