.add-news {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;

  &__title {
    margin: 0 0 30px 0;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
  }

  &__textarea-title,
  &__textarea-text {
    border: 1px solid #1caae2;
    border-radius: 4px;
    background-color: white;
    padding: 14px 10px 14px 16px;
    outline: none;
    color: black;
    font-size: 16px;
    height: 200px;
    outline: none;
    resize: none;
    width: 94%;
    margin-bottom: 20px;
  }

  &__textarea-title {
    height: 70px;
  }
  &__textarea-text {
    height: 200px;
  }
  ::placeholder {
    color: rgb(197, 196, 196);
    font-style: italic;
  }

  &__btn {
    border: 1px solid #1caae2;
    border-radius: 4px;
    font-size: 18px;
    padding: 14px 10px;
    color: white;
    background-color: #1caae2;
    outline: none;
    transition: 0.2s;
    width: 100%;

    &:hover {
      border: 1px solid #1caae2;
      background-color: #c2eeff;
      color: #1caae2;
    }
  }
}
