.ModalEntry {
  display: flex;
  flex-direction: column;
  padding: 70px 80px 70px 80px;

  &__login,
  &__password {
    border: 1px solid #1caae2;
    border-radius: 4px;
    padding: 14px 10px 14px 16px;
    background-color: white;
    font-size: 18px;
    outline: none;
    color: black;
    margin-bottom: 36px;
  }
  ::placeholder {
    color: rgb(197, 196, 196);
    font-style: italic;
  }

  &__btn {
    border-radius: 4px;
    padding: 14px 10px 14px 16px;
    font-size: 16px;
    color: white;
    outline: none;
    transition: 0.2s;
    border: 1px solid #1caae2;
    background-color: #1caae2;

    &:hover {
      border: 1px solid #1caae2;
      background-color: white;
      color: #1caae2;
    }
  }
}
