.news {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-top: 30px;

  &__items {
    flex-basis: 60%;
    padding-right: 30px;
  }

  &__action {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    
   
  }
}
