.admin-action {
  margin-top: 15px;

  &__btn-approve,
  &__btn-delete {
    border-radius: 4px;
    padding: 0;
    padding: 10px 14px;
    font-size: 16px;
    color: white;
    outline: none;
    transition: 0.2s;
  }

  &__btn-approve {
    border: 1px solid #1caae2;
    background-color: #1caae2;
    margin-right: 10px;

    &:hover {
      border: 1px solid #1caae2;
      background-color: white;
      color: #1caae2;
    }
  }

  &__btn-delete {
    border: 1px solid #ad3732;
    background-color: #ad3732;

    &:hover {
      border: 1px solid #ad3732;
      background-color: white;
      color: #ad3732;
    }
  }
}
